#top_page {
    display: flex;
    padding: 50px 70px;
    gap: 10px;
    background: linear-gradient(
        45deg,
        rgba(255, 229, 229, 1) 0%,
        rgba(255, 229, 229, 1) 20%,
        rgba(245, 255, 254, 1) 62%,
        rgba(245, 255, 254, 1) 100%
    );
}

#top_page > div {
    width: 100%;
}

.img {
    background-color: gray;
    width: 611px;
    height: 443.45px;
}

#top_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
}

#top_right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#literature {
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#literature > div {
    width: 100%;
    display: flex;
    align-items: baseline;
}

#literature div div {
    width: 100%;
}

.arrow {
    width: 50px;
}

#left_arrow {
    transform: rotate(180deg);
}

#books_categories {
    display: flex;
    justify-content: space-between;
}

#books_categories .img {
    width: 100%;
    height: 277.46px;
    border-radius: 10px;
}

#literature #books_categories > div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cinema {
    display: flex;
    background: linear-gradient(
        45deg,
        rgba(255, 229, 229, 1) 0%,
        rgba(245, 255, 254, 1) 32%,
        rgba(245, 255, 254, 1) 59%
    );
}

#cinema div {
    align-items: baseline;
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 10px;
}

#cinema div .img {
    height: 555px;
}

#left_cine {
    padding: 0 70px;
}

#faq{
    padding:50px 70px;
}

#faq div {
    align-items: baseline;
    display: flex;
    width: 100%;
    gap: 10px;
}

#faq>div {
    align-items: center;
}


#faq div div {
    flex-direction: column;
    width: 100%;
}

#faq>div>div{
    padding: 10px;
}

#questions button{
    width: 100%;
    border: #FF625C solid 1px;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
}

#answer{
    padding: 0 10px;
}